# Build output
dist/
.output/

# Astro
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.production
.env.*.local

# Editors
.idea/
.history/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db
